.elementor-1551 .elementor-element.elementor-element-51755ed > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1551 .elementor-element.elementor-element-51755ed:not(.elementor-motion-effects-element-type-background), .elementor-1551 .elementor-element.elementor-element-51755ed > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1551 .elementor-element.elementor-element-51755ed {
    box-shadow: 10px 11px 38px 0px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 0px 15px 0px;
}

.elementor-1551 .elementor-element.elementor-element-51755ed > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-1551 .elementor-element.elementor-element-da5a8ab.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1551 .elementor-element.elementor-element-da5a8ab.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-bc-flex-widget .elementor-1551 .elementor-element.elementor-element-1fb4067.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1551 .elementor-element.elementor-element-1fb4067.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1551 .elementor-element.elementor-element-7255483 > .elementor-widget-container {
    padding: 0px 60px 0px 0px;
}

.elementor-bc-flex-widget .elementor-1551 .elementor-element.elementor-element-bf592fd.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-1551 .elementor-element.elementor-element-bf592fd.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu__toggle {
    text-align: right;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item a.uael-menu-item,.elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item a.uael-sub-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item a.uael-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item a.uael-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

body:not(.rtl) .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu__layout-horizontal .uael-nav-menu > li.menu-item:not(:last-child) {
    margin-right: 10px;
}

body.rtl .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu__layout-horizontal .uael-nav-menu > li.menu-item:not(:last-child) {
    margin-left: 10px;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc nav:not(.uael-nav-menu__layout-horizontal) .uael-nav-menu > li.menu-item:not(:last-child) {
    margin-bottom: 0;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item a.uael-menu-item:not(.elementor-button):hover, .elementor-1551 .elementor-element.elementor-element-80c28bc .sub-menu a.uael-sub-menu-item:hover, .elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item.current-menu-item a.uael-menu-item:not(.elementor-button), .elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item a.uael-menu-item.highlighted:not(.elementor-button), .elementor-1551 .elementor-element.elementor-element-80c28bc .menu-item a.uael-menu-item:not(.elementor-button):focus {
    color: var( --e-global-color-213d6b9 );
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu-layout:not(.uael-pointer__framed) .menu-item.parent a.uael-menu-item:before, .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu-layout:not(.uael-pointer__framed) .menu-item.parent a.uael-menu-item:after {
    background-color: var( --e-global-color-213d6b9 );
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu-layout:not(.uael-pointer__framed) .menu-item.parent .sub-menu .uael-has-submenu-container a:after {
    background-color: var( --e-global-color-213d6b9 );
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .uael-pointer__framed .menu-item.parent a.uael-menu-item:before, .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-pointer__framed .menu-item.parent a.uael-menu-item:after {
    border-color: var( --e-global-color-213d6b9 );
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .sub-menu, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown, .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu nav.uael-dropdown-expandible, .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu nav.uael-dropdown-expandible .menu-item a.uael-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu nav.uael-dropdown-expandible .menu-item .sub-menu, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown .menu-item a.uael-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown .menu-item a.uael-sub-menu-item {
    background-color: #fff;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc ul.sub-menu {
    width: 250px;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .sub-menu li a.uael-sub-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown li a.uael-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown li a.uael-sub-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown-expandible li a.uael-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown-expandible li a.uael-sub-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .sub-menu a.uael-sub-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown li a.uael-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown li a.uael-sub-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown-expandible li a.uael-menu-item, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown-expandible li a.uael-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-nav-menu__layout-horizontal ul.sub-menu, .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-nav-menu__layout-expandible.menu-is-active, .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-dropdown.menu-is-active {
    margin-top: 15px;
}

.elementor-1551 .elementor-element.elementor-element-80c28bc .sub-menu li.menu-item:not(:last-child), .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown li.menu-item:not(:last-child), .elementor-1551 .elementor-element.elementor-element-80c28bc nav.uael-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-1551 .elementor-element.elementor-element-52673d7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}

@media(max-width: 1024px) {
    body:not(.rtl) .elementor-1551 .elementor-element.elementor-element-80c28bc.uael-nav-menu__breakpoint-tablet .uael-nav-menu__layout-horizontal .uael-nav-menu > li.menu-item:not(:last-child) {
        margin-right:0px;
    }

    .elementor-1551 .elementor-element.elementor-element-80c28bc.uael-nav-menu__breakpoint-tablet nav.uael-nav-menu__layout-horizontal ul.sub-menu {
        margin-top: 0px;
    }
}

@media(min-width: 768px) {
    .elementor-1551 .elementor-element.elementor-element-da5a8ab {
        width:10%;
    }

    .elementor-1551 .elementor-element.elementor-element-1fb4067 {
        width: 25%;
    }

    .elementor-1551 .elementor-element.elementor-element-bf592fd {
        width: 55%;
    }

    .elementor-1551 .elementor-element.elementor-element-52673d7 {
        width: 10%;
    }
}

@media(max-width: 767px) {
    .elementor-1551 .elementor-element.elementor-element-da5a8ab {
        width:70%;
    }

    .elementor-1551 .elementor-element.elementor-element-1fb4067 {
        width: 70%;
    }

    .elementor-1551 .elementor-element.elementor-element-bf592fd {
        width: 70%;
    }

    body:not(.rtl) .elementor-1551 .elementor-element.elementor-element-80c28bc.uael-nav-menu__breakpoint-mobile .uael-nav-menu__layout-horizontal .uael-nav-menu > li.menu-item:not(:last-child) {
        margin-right: 0px;
    }

    .elementor-1551 .elementor-element.elementor-element-80c28bc.uael-nav-menu__breakpoint-mobile nav.uael-nav-menu__layout-horizontal ul.sub-menu {
        margin-top: 0px;
    }

    .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu-icon {
        font-size: 25px;
    }

    .elementor-1551 .elementor-element.elementor-element-80c28bc .uael-nav-menu-icon svg {
        font-size: 25px;
        line-height: 25px;
        height: 25px;
        width: 25px;
    }

    .elementor-1551 .elementor-element.elementor-element-52673d7 {
        width: 30%;
    }

    .elementor-bc-flex-widget .elementor-1551 .elementor-element.elementor-element-52673d7.elementor-column .elementor-column-wrap {
        align-items: center;
    }

    .elementor-1551 .elementor-element.elementor-element-52673d7.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }

    .elementor-1551 .elementor-element.elementor-element-52673d7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
        justify-content: center;
    }
}
